# Sales Forecasting and Optimization

This project aims to predict future sales for a retail or e-commerce 
business by using historical sales data.

Data set: Time-series retail dataset, contains daily records for multiple products across different store for Corporacion Favorita supermarket chain.

This notebook aims to make exploratory data analysis (EDA) to :
o Understand trends, seasonality, and missing values in the dataset. 
o Generate summary statistics, check for outliers, and identify key patterns and correlations.

In [1]:
# import necessary libraries
import pandas as pd

In [2]:
# read csv file, parse the date column as datetime
dataset = pd.read_csv("train_sample.csv", parse_dates=['date'])
dataset.head()

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,day,month,dayofweek,family,city,state,type
0,0,2013-01-01,21,3,7.0,0,1,1,1,GROCERY I,Santo Domingo,Santo Domingo de los Tsachilas,B
1,1,2013-01-01,21,4,1.0,0,1,1,1,GROCERY I,Santo Domingo,Santo Domingo de los Tsachilas,B
2,2,2013-01-01,21,5,2.0,0,1,1,1,CLEANING,Santo Domingo,Santo Domingo de los Tsachilas,B
3,3,2013-01-01,21,12,1.0,0,1,1,1,GROCERY I,Santo Domingo,Santo Domingo de los Tsachilas,B
4,4,2013-01-01,21,15,1.0,0,1,1,1,BREAD/BAKERY,Santo Domingo,Santo Domingo de los Tsachilas,B

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 13 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         datetime64[ns]
 2   store_nbr    int64
 3   item_nbr     int64
 4   unit_sales   float64
 5   onpromotion  int64
 6   day          int64
 7   month        int64
 8   dayofweek    int64
 9   family       object
 10  city         object
 11  state        object
 12  type         object
dtypes: datetime64[ns](1), float64(1), int64(7), object(4)
memory usage: 198.4+ MB

In [4]:
# check for missing values
missing_values_count = dataset.isnull().sum()
print(missing_values_count)

id             0
date           0
store_nbr      0
item_nbr       0
unit_sales     0
onpromotion    0
day            0
month          0
dayofweek      0
family         0
city           0
state          0
type           0
dtype: int64

There is no missing values in the dataset

In [5]:
# check for duplicates
duplicates_count = dataset.duplicated().sum()
print(duplicates_count)

0

There is no duplicates in the dataset